HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.properties
*.yml
*.xml
!**/src/main/resources/
*.csv
*.sql
*.java
src/main/resources/templates
src/main/resources/logs/
src/main/resources/static/test/
!src/main/resources/static/datas/
*.csv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.gradle
*.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/java/com/chatbot/web/daos/