HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

!**/src/main/java/com.chatbot.web/config/
!**/src/main/java/com.chatbot.web/proxy/
!**/src/main/java/com.chatbot.web/test/

### DB ###
*.properties
*.yml
!**/src/main/resources/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.gradle
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/templates
src/main/java/com/chatbot/web/daos/

src/main/resources/logs/
