<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatbot.web.mappers.ChatMapper">
    <insert id="insertData" parameterType="chat"
            useGeneratedKeys="true" keyProperty="id">
        insert into chat (user_code, chat_body, insert_date, update_date)
        values (100020001, #{chatBody}, now(), now())
    </insert>

    <select id="selectDate" parameterType="chat" resultType="chat">
        select insert_date as insertDate,
        update_date as updateDate
        from  chat
        where chat_id = #{id}
    </select>

    <update id="updateData" parameterType="chat"
            useGeneratedKeys="true" keyProperty="id">
        update chat set
        chat_body = #{chatBody},
        update_date = now()
        where chat_id = #{id}
    </update>

<!--
        <if test="checkDate != null">
        where insert_date = #{checkDate}
        </if>
-->

    <delete id="deleteData" parameterType="chat">
        delete from chat
        where chat_id = #{id}
    </delete>
</mapper>