<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatbot.web.mappers.ChatMapper">
    <insert id="insertChat" parameterType="com.chatbot.web.domains.Chat">
        insert into chat (user_code, chat_kind, chat_body, insert_date, update_date)
        values (100020004, "c", "스킬", now(), now())
    </insert>

    <update id="updateChat" parameterType="com.chatbot.web.domains.Chat">
        update chat set
        chat_kind = #{chatKind},
        chat_body = #{chatBody},
        update_date = now()
        where user_code = 100020003;
    </update>

    <delete id="deleteChat" parameterType="com.chatbot.web.domains.Chat">
        delete from chat where chat_kind = #{chatKind}
    </delete>
    
    <select id="findOneChat" parameterType="com.chatbot.web.domains.Chat"
            resultType="String">
        select chat_body, chat_kind
        from chat
    </select>
</mapper>

<!--<selectKey resultType="int" keyProperty="id" order="BEFORE">-->
<!--select chat_id from chat-->
<!--</selectKey>-->