<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatbot.web.mappers.ExamAnalysisMapper">

    <select id="codeExamKind" parameterType="string" resultType="int">
        select code_exam as codeExam
        from codeExamKind
        where code_exam_kor = #{codeExamKor}
    </select>

    <select id="codeSubjectKind" parameterType="string" resultType="string">
        select code_subject as codeSubject
        from codeSubjectKind
        where code_subject_kor = #{codeSubjectKor}
    </select>

    <select id="selectList" parameterType="examAnalysis" resultType="examAnalysis">
        select exam_num as examNum,
        wrong_answer as wrongAnswer
        from examanalysis
        where wrong_answer != ""
        <if test="userCode != null">
            and user_code = #{userCode}
        </if>
        <if test="examKind != null">
            and exam_kind = #{examKind}
        </if>
        <if test="subjectCode != null">
            and subject_code = #{subjectCode}
        </if>
    </select>

    <select id="selectAvg" resultType="examAnalysis">
        select avg(score) as avgScore, subject_id,
        (
        case subject_id
        when 1 then '1학기 국어'
        when 2 then '1학년 영어'
        when 3 then '1학년 수학'
        when 4 then '1학년 한국사'
        when 5 then '1학년 생활과윤리'
        when 6 then '1학년 경제'
        when 7 then '1학년 물리'
        when 8 then '1학년 생명과학'
        when 9 then '1학년 제2외국어'
        end
        )
        as subjectMemo
        from grade
        where semester_code &lt; 201930
        group by subject_id
        having subject_id &lt; 10
        union
        select avg(score)  as avgScore, semester_code,
        (
        case semester_code
        when 201911 then '1학기 중간고사'
        when 201912 then '1학기 기말고사'
        when 201921 then '2학기 중간고사'
        when 201922 then '2학기 기말고사'
        end
        )
        as subjectMemo
        from grade
        group by semester_code
        having semester_code &gt; 201822 and semester_code &lt; 201930
    </select>

    <select id="comepareSvg" resultType="examAnalysis">
        select avg(score) as avgHome, home_class
        from grade
        where semester_code &gt; 201830 and semester_code &lt; 201990 and home_class = 2
        group by semester_code
        union all
        select avg(score) as avgHome, home_class
        from grade
        where subject_id &lt; 10 and home_class = 2
        group by subject_id
    </select>
</mapper>