<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatbot.web.mappers.UserMapper">
    <select id="selectLoginList" parameterType="int" resultType="user">
        select user_id as userId,
        user_pw as userPw
        from user
        where user_code = #{userCode}
    </select>

    <select id="selectNameList" parameterType="int" resultType="user">
        select name
        from user
        where user_code = #{userCode}
    </select>
</mapper>

